// Colors
$white: #FFFFFF;
$gallery: #EEEEEE;
$black: #000000;
$jungle-mist: #B7D5D4;
$thunder: #231F20;
$dust-gray: #9B9B9B;
$tundora: #4A4A4A;

$serp-head: #fafafa;
$serp-head-border: #ebebeb;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;